generic-service:
  nameOverride: hmpps-health-and-medication-api
  productId: "DPS013"

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-health-and-medication-api
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-health-and-medication-api-cert

  # Used to access resources like S3 buckets, SQS queues and SNS topics
  serviceAccountName: health-and-medication-api-sa

  # Environment variables to load into the deployment
  env:
    JAVA_OPTS: "-Xmx512m"
    SERVER_PORT: "8080"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-health-and-medication-api:
      CLIENT_ID: "CLIENT_ID"
      CLIENT_SECRET: "CLIENT_SECRET"

    hmpps-domain-events-topic:
      HMPPS_SQS_TOPICS_HMPPSEVENTTOPIC_ARN: "topic_arn"
    sqs-domain-events-secret:
      HMPPS_SQS_QUEUES_HMPPSDOMAINEVENTSQUEUE_QUEUE_NAME: "queue_name"
    sqs-domain-events-dlq-secret:
      HMPPS_SQS_QUEUES_HMPPSDOMAINEVENTSQUEUE_DLQ_NAME: "queue_name"

    hmpps-health-and-medication-api-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"

    rds-postgresql-instance-output:
      DATABASE_ENDPOINT: "rds_instance_endpoint"
      DATABASE_NAME: "database_name"
      DATABASE_USERNAME: "database_username"
      DATABASE_PASSWORD: "database_password"

    digital-prison-reporting:
      DPR_USER: "dpr_user"
      DPR_PASSWORD: "dpr_password"

  allowlist:
    groups:
      - internal

generic-prometheus-alerts:
  targetApplication: hmpps-health-and-medication-api
